<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<style>
    .todos{
        background-color: blue;
    }
    .ejs-block{
        font-size: 24px;
        background-color: yellow;
    }
    .avatar{
        height: 100px;
        width: 100px;
        border-radius:50px;
    }
</style>
<div id="app">
    <p>用户名：<%= user.nickname %></p>
    <p>用户图像：<img class="avatar" src="<%= user.head %>" alt=""></p>
    <p><%= label %></p>
    <% if (todos.length) { %>
    <ul class="todos">
        <% for(var i=0; i<todos.length; i++) {%>
        <li><%= todos[i].label %></li>
        <% } %>
    </ul>
    <% } %>
    <!-- 只是模版引擎 -->
</div>
<script type="text/javascript" src="http://cdn.tig.qq.com/js/lib/jquery-1.11.3.min.js"></script>

</body>
</html>