{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "commonjs": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "ecmaVersion": 6,
      "experimentalObjectRestSpread": true,
      "jsx": true,
      "arrowFunctions": true,
      "classes": true,
      "modules": true,
      "defaultParams": true
    },
    "sourceType": "module"
  },
  "globals": {
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "standard",
    "standard-react",
    "standard-jsx"
  ],
  "rules": {
    "jsx-quotes": ["error", "prefer-double"],
    "comma-dangle": 0,
    "no-console": 0,
    "id-length": 0,
    "react/prop-types": 0
  }
}
